.design-container {
  display: flex;
  border: 1px solid black;
  width: fit-content;
  padding: 0.5rem;
  gap: 2rem;
  width: 100%;
  max-width: 40rem;
  margin: 1rem;
}

.controls-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 0.5rem;
}

